body{
  font-family: 'Oswald', sans-serif;
}
.container div {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: start;
}
.container {
  display: flex;
  justify-content: center;
}