html 
    head 
        title Prueba NodeJS
        link(rel="stylesheet" href="/public/styles/home.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet")
    body
        include partials/header
        div(class="container")
            div
                img(src="./public/images/main-image.png" class="main-image")
            div(class="text")
                h3 Tours &amp; travels
                h2 Amazing Places on earth
                p December 12, 2023
            div(class="images-grid") 
                div
                    img(src="./public/images/mujer-bolso.jpeg" alt="")
                    button FASHION
                    p New york fashion week's continued the evolution
                    p 2 days ago
                div
                    img(src="./public/images/trekking-guys.jpeg" alt="")
                    button FASHION
                    p New york fashion week's continued the evolution 
                    p 2 days ago
                div
                    img(src="./public/images/man-sunglasses.jpeg" alt="")
                    button FASHION
                    p New york fashion week's continued the evolution 
                    p 2 days ago
